.container {
  //   background-color: antiquewhite;
  max-width: 1000px;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.2rem;
    line-height: 2;
    color: #fff;
  }
}
