.message {
  //   width: 100px;
  //   height: 100px;
  margin-bottom: 200px;
}

.messageContainer {
  width: 100%;
  //   background-color: antiquewhite;
}

.messageInner {
  background-color: #fff;
  max-width: 1200px;
  height: 600px;
  border-radius: 10px;
}
