@mixin message {
  border: 3px solid #333;
  width: 50%;
  height: 300px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message1,
.message2,
.message3 {
  @include message();
}

.message1,
.message2 {
  margin-bottom: 100px;
}
