.container {
  min-height: 3000px;
  overflow: hidden;
  width: 100vw;
  background-color: rgb(229, 229, 229);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
}
