@mixin box($width, $height) {
  border: 3px solid #333;
  width: $width;
  height: $height;
}

.container {
  position: relative;
}
.slideContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1700px;
  margin: 0 auto;
}

.left {
  margin-right: 3%;
  @include box(27%, 300px);
}
.centerRight {
  position: relative;
  width: 70%;
  margin: 0 0 0 auto;
}
.center {
  @include box(60%, 700px);
}
.right {
  @include box(50%, 200px);
  position: absolute;
  top: 50px;
  right: 0;
}

.text {
  position: absolute;
  font-size: 8rem;
  top: 40%;
  white-space: nowrap;
  font-style: italic;
  font-family: serif;
}
